body[data-v-bb715489],html[data-v-bb715489]{background-color:#000;border:none;margin:0;padding:0;scroll-padding-top:0}[data-v-bb715489]{box-sizing:border-box}#musicPage[data-v-bb715489]{height:100%}ul img[data-v-bb715489]{width:60px}
