body[data-v-a88cfad8],html[data-v-a88cfad8]{background-color:#000;border:none;margin:0;padding:0;scroll-padding-top:0}[data-v-a88cfad8]{box-sizing:border-box}#musicPage[data-v-a88cfad8]{height:100%}ul img[data-v-a88cfad8]{width:60px}
